<div class="alert alert-info">
{{ render(controller('App\\Controller\\FirstController::sayhello', {'name': 'jean', 'firstname': 'raoul'}))}}
Bonjour on est le {{'now' | date('d-m-y h:i:s')}}
<hr>
👎 🔢
mon url absolute est: {{url('app_first')}}

</div>